header {
    position: inherit;
    margin: 0px 0px;
    width: 100%;
    top: 0px;
/*    background-color: #122;*/
/*    background: linear-gradient(185deg, #122, #000);*/
        background: linear-gradient(190deg, #888, #122);
    height: 75px;
}

nav {
    margin: 0px 0px;
    position: absolute;
    bottom: 0px;
    background-color: #122;
    width: 100%;
    height: 55px;
}

#screen-view {
    
}