@import 'variables';
@import 'component';
@import 'scan';

* {
    outline: none;
}

html, .ember-application {
    font-family: $app-font;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

#titlebar {
    position: absolute;
    height: 78px;
    margin: 0px 0px;
    width: 100%;
    background-color: $renascent-dark-gray;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .49);
    z-index: 2;
    top: 0px;
    display: inline-flex;
    text-align: center;
    padding: 0px 0px;
}

header {
    height: 78px;
    position: relative;
}

.login-fail {
    font-family: $app-font;
    font-weight: 300;
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 5px;
    border: solid;
    border-color: white;
    border-radius: 6px;
    border-width: 2px;
    margin-top: 15px;
    width: 240px;
}

nav {
    font-family: $app-font;
    height: 30px;
    background-color: $renascent-red;
    color: white;
    display: flex;
    align-items: center;
}

.container.nav-cont {
    text-align: center;
    width: calc(50% - 2px);
    display: inline-block;
    height: 100%;
    line-height: 65px;
    font-size: 30px;
    font-family: $app-font;
    font-weight: 300;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
}

.active {
    background-color: rgba(255, 255, 255, 0.42);
}

a:hover {
    color: white;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

.icon-btn {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-main {
    position: relative;
    padding: 10px;
    color: white;
    font-size: 40px;
    margin: auto;

}

.subtitle {
    display: flex;
    height: 100%;
    font-size: 15px;
    flex-direction: row;
    flex: 1 1 25%;
    justify-content: center;
    align-items: center;
}

.nav-container {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

#screen-view {
    position: relative;
    height: calc(100vh - 98px);
    width: 100vw;
    font-family: $app-font;
    -webkit-overflow-scrolling: touch;
}

#login-page {
    height: 100vh;
    background-color: $renascent-red;
}

#splash-title {
    font-family: $app-font;
    color: white;
    text-align: center;
    font-size: 95px;
    font-weight: 300;
    line-height: 95px;
    padding-top: 30px;
}

#splash-subtitle {
    font-family: $app-font;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 30px;
}

.text-field {
    border-radius: 14px;
    height: 47px;
    width: 80%;
    text-indent: 5px;
    font-size: 21px;
    font-weight: 400;
    border-width: 1px;
    margin-top: 10px;
    padding: 0px;
}

.go {
    position: relative;
    background-color: $renascent-red;
    border: none;
    border-radius: 6px;
    color: white;
    height: 62px;
    width: 189px;
    font-size: 32px;
    font-weight: 400;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .28);
}

#scan-group {
    position: relative;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    font-size: 0px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .28);
    bottom: 0;
}

#transfer-btn {
    width: calc(50% - 2px);
    display: inline-block;
    border-radius: 0px;
    line-height: 62px;
    text-align: center;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

#login-btn {
    background-color: white;
    color: $renascent-red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.dark-dropdown {
    height: 47px;
    width: 80%;
    background-color: $renascent-dark-gray;
    -webkit-appearance: none;
    color: white;
    font-weight: 400;
    text-indent: 6px;
    font-size: 21px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .28);
}

#icon-container {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100vw;
    text-align: center;
    font-size: 130px;
    height: 150px;
}

.description {
    width: 100%;
    text-align: center;
    color: $renascent-light-gray;
    font-size: 18px;
}

#specs {
    padding: 10px;
    display: inline-block;
    width: calc(100vw - 20px)
}

#tool-title {
    color: rgba(0, 0, 0, .87);
    font-size: 28px;
    width: 100%;
}

#tool-details {
    color: rgba(0, 0, 0, .57);
    font-size: 18px;
}

#tool-display-box-full {
    overflow: scroll;
    height: calc(100vh - 231px);
    width: 100vw;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    margin-top: 20px;
    text-align: center;
}

#form-container {
    overflow-y: scroll;
    height: inherit;
}

.add {
    margin: 5px;
}

#status-change-box {
    text-align: center;
    width: calc(100% - 80px);
    padding: 40px;
}

button {
    border-style: none;
    padding: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.error {
    color: $renascent-red;
}

.back {
    font-size: 25px;
    height: auto;
    padding: 10px 5px 5px;
    color: $renascent-red;
}

.loading {
    display: block;
    margin: auto;
    line-height: 100vw;
    font-size: 112px;
}

.error {
    color: $renascent-red;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#tool-details a:-webkit-any-link {
    color: $renascent-dark-gray;
}

#tool-details .fa {
    color: $renascent-dark-gray;
}
