.DS_Store
node_modules
dist/

# cordova
www/
plugins/
platforms/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
bitrise.yml
.bitrise.secrets.yml
