<?xml version='1.0' encoding='utf-8'?>
<widget id="com.retina.renascentinc" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RETINA</name>
    <description>
        Renascent inc. Asset Tracking Application
    </description>
    <author email="dev@renascentinc.com" href="http://renascentinc.com">
        Renascent inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="phonegap-nfc" spec="^1.0.3">
        <variable name="NFC_USAGE_DESCRIPTION" value="Read NFC Tags" />
    </plugin>
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.0.0" />
</widget>
