@import 'variables';
@import 'fonts';
@import 'drawer';

html, body, #app {
  font-family: $font-family;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transition: opacity 0s;
}

.list-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}

.list-enter, .list-leave-to {
  opacity: 0;
}

.list-complete-leave-active {
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}

.router-link-active {
  color: white;
}

button {
  outline: none;
}

.page {
  height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}

.main-application {
  display: flex;
  height: 100%;
  width: 100vw;

  .content-wrap {
    display: flex;

    .main-content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }
  }
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-subtext {
    font-size: 10px;
    line-height: .8;
}

.nav-bar {
  display: flex;
  flex: 0 0 50px;
  background-color: $renascent-dark-gray;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 30px;
  font-size: 30px;

  .add-icon {
    text-decoration: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
  }

  .menu-icon {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
  }
}

.tool-status {
  &.available {
    color: black;
    font-weight: bold;
  }

  &.in-use {
    color: $renascent-red;
  }

  &.maintenance {
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    padding: 0 3px 1px 3px;
    line-height: 16px;
  }

  &.out-of-service {
    color: #828282;
  }
}
