@import 'variables';
@import 'fonts';
@import 'loading-spinner';
@import 'drawer';
@import 'navbar';
@import 'form-inputs';

* {
  font-family: $font-family;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

* {
  font-family: $font-family;
}

html, body, #app {
  font-family: $font-family;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

a {
  color: #C4C4C4;
  text-decoration: none;

  &.router-link-active {
    color: white !important;
  }
}

.page {
  height: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}

.page-change-enter-active {
  transition: opacity .25s;
}

.page-change-enter {
  opacity: 0;
}

.page-change-leave-to {
  display: none;
}

.main-application {
  display: flex;
  height: 100%;
  width: 100vw;

  .content-wrap {
    display: flex;

    .main-content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }
  }
}

.tool-status {
  &.available {
    color: black;
    font-weight: bold;
  }

  &.in-use {
    color: $renascent-red;
  }

  &.maintenance {
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    padding: 0 3px 1px 3px;
    line-height: 16px;
  }

  &.out-of-service {
    color: #828282;
  }
}
