@import 'variables';

.drawer-wrap {
  background-color: $renascent-dark-gray;

  .drawer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;

    .account-info {
      display: flex;
      margin-top: 10px;
      justify-content: center;
      flex-direction: column;
      flex: 1 0 auto;
    }

    .vue-avatar--wrapper {
      height: 89px !important;
      width: 89px !important;
      font-size: 41px !important;
      background-color: white !important;
      color: $background-dark-gray !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .username {
      margin-top: 18px;
      color: white;
      font-size: 33px;
      display: flex;
      flex-direction: column;
    }

    .role {
      font-size: 16px;
      color: $disabled-gray;
    }

    .email {
      margin-top: 17px;
      color: $disabled-gray;
      font-size: 16px;
      font-weight: 300;
    }

    .line {
      width: 140px;
      color: white;
      margin-top: 20px;
    }

    .menu-buttons {
      margin-bottom: 55px;
      margin-top: auto;
    }

    .menu-btn {
      border: none;
      height: 43px;
      width: 221px;
      border-radius: 5px;
      background-color: $background-light-gray;
      margin: 13px;
      padding: 0;
      font-size: 16px;
      font-weight: 700;
      color: $dark-text;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

      .menu-btn-icon {
        height: 18px;
        width: 18px;
        font-size: 20px;
        float: left;
        margin-left: 18px;
      }
    }
  }
}

// DESKTOP

.desktop {
  .menu-btn {
    font-size: 14px !important;
    height: 40px !important;
    width: 200px !important;

  }
}
