@import 'variables';

.drawer-wrap {
  background-color: $renascent-dark-gray;

  .drawer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}
