@import 'variables.scss';

* {
  font-family: $font-family;
}

.nav-bar {
  display: flex;
  flex: 0 0 60px;
  background-color: $renascent-dark-gray;
  align-items: center;
  justify-content: space-around;
  color: $disabled-gray;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 1;

  .icon-text-container {
    flex: 0 0 58px;
    width: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .menu-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $disabled-gray;
      background-color: transparent;
      border: none;
      font-size: 25px;
      cursor: pointer;

      .icon-subtext {
        margin-top: 7px;
        font-size: 10px;
      }
    }
  }
}
