* {
  font-family: $font-family;
}

.nav-bar {
  display: flex;
  flex: 0 0 60px;
  background-color: $renascent-dark-gray;
  align-items: center;
  color: $disabled-gray;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  // TODO: upgrade parcel version (when it become available) so we can uncomment this
  // padding for iPhone X style screens
  // padding-bottom: calc(constant(safe-area-inset-bottom) - 18px);
  // padding-bottom: calc(env(safe-area-inset-bottom) - 18px);

  .icon-text-container {
    flex: 0 0 58px;
    width: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .menu-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $disabled-gray;
      background-color: transparent;
      border: none;
      font-size: 25px;
      cursor: pointer;

      .icon-subtext {
        margin-top: 7px;
        font-size: 10px;
      }
    }
  }
}

// MOBILE

.mobile {
  .nav-bar {
    flex-direction: row;
    justify-content: space-around;
  }
}


// DESKTOP

.desktop {
  .nav-bar {
    flex-direction: column;
    justify-content: flex-start
  }
}
