.search-input {
  display: flex;
  align-items: center;
  border: solid 1px #727272;
  border-radius: 7px;
  padding-left: 8px;
  min-height: 45px;
  width: 100%;

  .search-icon-container {
    display: flex;
    flex: 0 0 20px;
    height: 20px;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    color: $renascent-dark-gray;
  }

  .vue-tags-input {
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    max-width: 100% !important;

    .input {
      border: none;
    }
  }
}
