.menu-container {
  display: flex;
  height: calc(100% - 67px);
  background-color: $background-light-gray;
  flex: 1 1 auto;
}

.scroll-container {
  background-color: $background-light-gray;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 5px;
  flex: 1 1 auto;
}

.no-results-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.desktop .menu-container {
  .scroll-container {
    padding-bottom: 5px;
  }
}