$font-family: 'Lato', sans-serif;
$renascent-red: #CE352F;
$renascent-dark-gray: #404040;
$disabled-gray: #C4C4C4;
$dark-text: #1A1A1A;
$dark-avatar: #515151;
$background-light-gray: #F1F1F1;
$background-dark-gray: #8C8C8C;
