.tool-search-entry {
    display: flex;
    height: 80px;
    border-bottom: 1px solid $renascent-light-gray;
    padding-left: 5px;
    overflow: hidden;

    .tool-info {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .tool-info-header {
            color: $renascent-dark-gray;
            font-size: 20px;
            height: 30px;
            overflow: hidden;
            font-weight: 500;
        }

        .tool-info-details {
            display: flex;
            flex-direction: column;
            flex: 0 0 42px;
            color: $renascent-light-gray;
            font-weight: 600;
            overflow: visible;
            font-size: 17px;
        }
    }

    .tool-action {
        display: flex;
        flex: 0 0 40px;
        align-items: center;
        justify-content: center;
        color: $renascent-light-gray;
        height: 100%;
    }

    .search-icon {
        font-size: 25px;
        color: $renascent-dark-gray;
    }
}
