.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $renascent-light-gray;
    height: 60px;

    .search-bar-input {
        width: calc(100% - 20px);
        height: 40px;
        border-radius: 20px;
        border-style: none;
        text-indent: 10px;
        font-size: 18px;
        text-align: left;
        font-weight: 500;
        letter-spacing: 1.5px;
    }

    .search-bar-icon {
        position: absolute;
        height: 20px;
        width: 20px;
        font-size: 19px;
        top: 85px;
        right: 18px;
        color: gray;
    }
}
