<?xml version='1.0' encoding='utf-8'?>
<widget id="io.corber.retinaApp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RETINA</name>
    <description>
    </description>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-nfc" spec="^1.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="icons/android/white_36x36.png" />
        <icon density="mdpi" src="icons/android/white_48x48.png" />
        <icon density="hdpi" src="icons/android/white_72x72.png" />
        <icon density="xhdpi" src="icons/android/white_96x96.png" />
        <icon density="xxhdpi" src="icons/android/white_144x144.png" />
        <icon density="xxxhdpi" src="icons/android/white_192x192.png" />
    </platform>
    <platform name="android">
        <splash density="port-hdpi" src="splashscreens/android/red_splash_200x320.png" />
        <splash density="port-ldpi" src="splashscreens/android/red_splash_320x480.png" />
        <splash density="port-mdpi" src="splashscreens/android/red_splash_480x800.png" />
        <splash density="port-xhdpi" src="splashscreens/android/red_splash_720x1280.png" />
    </platform>
    <preference name="SplashScreenDelay" value="2000" />
    <engine name="android" spec="~7.0.0" />
</widget>
