<div id="styleSelect">
<select class="dropdown" id="brand">
	<option>Brand</option>
</select>
</div>

<select id="type">
	<option>Type</option>
</select>

<select id="purchasedFrom">
	<option>Purchased From</option>
</select>

{{outlet}}
