
{{#if isLoginRoute}}
  {{outlet}}
{{else}}
<header>
    <div id="titlebar" class="container-fluid">
		<div class="nav-container">
			{{#link-to "add" class="icon-btn" id="add-icon"}}<span class="fa fa-plus fa-main " aria-hidden="true"></span>{{/link-to}}
		</div>

		<div class="nav-container">
	        {{#link-to "search" class="icon-btn" id="search-icon"}}<span  class="fa fa-main fa-search" aria-hidden="true"></span>{{/link-to}}
		</div>

		<div class="nav-container">
			{{#link-to "scan" class="icon-btn" id="tool-icon"}}<span  class="fa fa-main fa-wrench" aria-hidden="true"></span>{{/link-to}}
		</div>

        <div class="nav-container">
            <button {{action 'invalidateSession'}} class="icon-btn"><span  class="fa fa-main fa-sign-out" aria-hidden="true"></span></button>
        </div>
    </div>

</header>
<nav>
	<div class="subtitle" id="add">
		ADD
	</div>

	<div class="subtitle" id="search">
		SEARCH
	</div>

	<div class="subtitle" id="tool">
		TRANSFER
	</div>

	<div class="subtitle" id="logout">
		LOGOUT
	</div>

</nav>

<div id="screen-view">
        {{outlet}}
</div>

{{/if}}