
<div id="icon-container">
	<span  class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
</div>

<label class="description">
	Hold phone to NFC tag on tool <br>
	Or, enter Tool ID manually below
</label>

{{input class="text-field" id='toolid' placeholder='Tool ID' type='num' value= myFunc }}




{{outlet}}
