
<div id="icon-container">
	<span  class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
</div>

<label class="description">
	Hold phone to NFC tag on tool <br>
	Or, enter Tool ID manually below
</label>

{{input class="text-field" id='toolid' placeholder='Tool ID' type='num'}}

<div id="scan-group" class="button-group">
	
	
	<button {{action "goToInfoPage"}} id="info-btn" class="sub-element go"> info </button>
	
	<div id="spacer" style="background-color: white; height: 100%; width: 4px; display: inline-block;"></div>
	<div id="transfer-btn" class="sub-element go">transfer</div>
</div>




{{outlet}}
