{{search-header
    dropdown=dropdown
    showSelectTools=false
    query=query
    fuzzySearchParams=fuzzySearchParams
    updateSearch=(action updateSearch)
}}

<div id="tool-display-box-full">
    {{#if (is-pending tools)}}
        <i class="loading fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    {{else}}
        {{#each tools as |tool|}}
            {{tool-search-entry tool=tool onResultSelected=(action goToInfoPage)}}
        {{/each}}
    {{/if}}
</div>
